body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
body > .app{
    height: 100vh;
    width: 100vw;
    background-color: grey;
}
body > .app  > .main {
    height: 85vh;
    width: 100vw;
    background-color: indianred;
}
body > .app > .tools-bar {
    height: 15vw;
    width: 100vw;
    background-color: hotpink;
    display: flex;
}
body > .app  > .main > .wallet {
    border: 1px solid salmon;
    width: 10vw;
    height: 3vw;
    font-size: 2vw;
    font-weight: 700;
}
body > .app  > .main > .wallet > .dolar {
    font-size: 1vw;
}
body > .app  > .tools-bar > .status {
    width: 15vw;
    background-color: salmon;
}
body > .app  > .tools-bar > .settings {
    width: 15vw;
    background-color: sandybrown;
}
body > .app  > .tools-bar > .upgrade {
    width: 70vw;
    /* justify-items: center;
    align-items: center;  */
    display: flex;
    background-color: seagreen;
}
body > .app  > .tools-bar > .upgrade > .character-upgrade-container {
    width: 23vw;
    background-color: sienna;
}
