body {
    margin: 0;
    padding: 0;

}
body > .app {
    width: 100vw;
    height: 100vh;
    background-color: thistle;
    display: flex;
    
}
li {
    list-style-type: none;
}
.flex {
    display: flex;
}
body > .app > .main {
    height: 100vh;
    width: 80vw;
    background-color: slateblue;
}
body > .app > .tools {
    height: 100vh;
    width: 20vw;
    background-color: #FF6C6E;
}

body > .app > .main > .wallet {
    width: 10vw;
    height: 3vw;
    background-color: #FF6C6E;
}
body > .app > .main > .energy {
    width: 10vw;
    height: 3vw;
    background-color: greenyellow;
    font-size: 2vw;
    display: flex;
    justify-items: center;
    align-items: center;
}
body > .app > .main > .energy > .energy-status {
    width: 80%;
    height: 100%;
}

body > .app > .main > .energy > .energy-fill {
    background-image: url("../images/icons/icons8-plus-64.png");
    width: 20%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
} 
body > .app > .tools > .character-upgrades {
    width: 100%;
    height: 40%;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box {
    width: 100%;
    height: 80%;
}
.upgrades-box {
    width: 10vw;
    height: 15vh;
    background-color: hotpink;
    border-radius: 5%;
    border: 2px solid seashell;
    position: relative;
    transition: box-shadow 2.3s, border-color 1s ;
}
.upgrades-box:hover {
    box-shadow: 1px 1px 1px 1px #313131;
    border-color: rgb(52, 223, 0);
}
.upgrades-box + .upgrades-box {
    margin-left: 20px;

}
body > .app > .tools > .character-upgrades > .flex-box >.flex:nth-child(1){
    margin-bottom: 10px;
}
.upgrades-box:first-child {
    margin-left: 10px;
}
.upgrades-box:nth-child(2) {
    margin-right: 10x;
}
body > .app > .tools > .character-upgrades >.flex-box > .flex:nth-child(1) > .upgrades-box:nth-child(1) {
    background-color: silver;
    background-image: url('../images/icons/icons8-money-64.png');
    background-repeat: no-repeat ;
    background-position: center;
    
}
body > .app > .tools > .character-upgrades >.flex-box > .flex:nth-child(1) > .upgrades-box:nth-child(2) {
    background-color: silver;
    background-image: url('../images/icons/icons8-clover-100.png');
    background-repeat: no-repeat ;
    background-position: center;
}
body > .app > .tools > .character-upgrades >.flex-box > .flex:nth-child(2) > .upgrades-box:nth-child(1) {
    background-color: silver;
    background-image: url('../images/icons/icons8-tax-64.png');
    background-repeat: no-repeat ;
    background-position: center;
}
.bonus-level {
    font-size: 0,1vw;
    text-align: right;
}
.upgrade {
    position: absolute;
    bottom: -3px;
    left: 50%;
    font-size: 1vw;
    transform: translate(-50%, -50%);
}
body > .app > .tools > .investments {
    width: 100%;
    height: 40%;
    background-color: rgb(219, 233, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}
body > .app > .tools > .settings {
    width: 100%;
    height: 20%;
    background-color: rgb(187, 123, 123);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body > .app > .tools > .settings > .setting-box {
    width: 25%;
    height: 50%;
    background-color: greenyellow;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
body > .app > .tools > .settings > .setting-box:nth-child(1) {
    background-image: url('../images/icons/icons8-save-64.png');
}
body > .app > .tools > .settings > .setting-box:nth-child(2) {
    background-image: url('../images/icons/icons8-mute-80.png');
}
body > .app > .tools > .settings > .setting-box:nth-child(3) {
    background-image: url('../images/icons/icons8-question-mark-64.png');
}
body > .app > .tools > .settings > .setting-box:hover {
    background-color: rgb(199, 51, 51);
}
body > .app > .main > .buttons-container {
    margin-top: 8vh;
    background-color: orange;
    width: 80vw;
    height: 60vh;
}
body > .app > .main > .buttons-container > .buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body > .app > .main > .buttons-container > .buttons >.clicker-box {
    width: 50%;
    height: 80%;
    background-color: orchid;
}